<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Freelance Upwork</h2> - <h4>(Progreso)</h4>
            </li>
            <p>Creacion de paginas webs a traves de esta aplicacion/web freelance.</p>
        
        
            <li>
                <h2>Trabajo 2</h2> - <h4>(Progreso)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio.</p>
                
             <li>
                <h2>Trabajo 3</h2> - <h4>(Progreso)</h4>
              </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore praesentium assumenda.</p>
        </ul>
</div>
