
<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Estudio 1</h2>
          -
          <h4>(Progreso)</h4>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
          voluptatibus neque esse placeat iure omnis illo libero corporis
          architecto voluptas aliquam rerum, temporibus quos nam, aspernatur odio
          quidem ducimus deleniti?
        </p>
  
        <li>
          <h2>Estudio 2</h2>
          -
          <h4>(Progreso)</h4>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio.
        </p>
  
        <li>
          <h2>Estudio 3</h2>
          -
          <h4>(Progreso)</h4>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          praesentium assumenda.
        </p>
      </ul>
    </div>
  </div>