.row{
    padding: 0px;
    margin: 0px;
 }
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    width: 150px;
    padding: 0px;
    margin: 0px;
    
}
img{
    width: 50px;
    padding: 0px;
}

.redes{
    margin-right: 0.5em;
}

