<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="redes">
      <div>
        <a href="https://www.linkedin.com/in/edgar-fernando-cataldi-50374b183/"><img src="../../../assets/linkedin.png" alt="" /></a>
        <a href="https://www.facebook.com/edgar.cataldi/"><img src="../../../assets/facebook.png" alt="" /></a>
        <a href="https://github.com/EdgarCataldi"><img src="../../../assets/github.png" alt="" /></a>
        <a href="https://www.instagram.com/_edgarcataldi/"><img src="../../../assets/instagram.png" alt="" /></a>
        <button type="button" class="btn btn-outline-dark" >    INGRESO   </button>
      </div>
    </div>
  </div>
</div>
